<section class="resume-section education-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
    <div class="resume-section-content">
        <ul class="list-unstyled">
            <li class="mb-2">
                <div class="resume-degree font-weight-bold">
                    <i class="fa fa-graduation-cap"></i>
                    {{ degree }}
                </div>
                <div class="resume-degree-org">
                    {{ institute }}
                </div>
                <div class="resume-degree-time">
                    {{ session }}
                </div>
            </li>
        </ul>
    </div>
</section>
