<article class="resume-wrapper text-center position-relative">
    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
        <app-header></app-header>
        <div class="resume-body p-5">
            <app-about-me></app-about-me>

            <div class="row">
                <div class="col-lg-9">
                    <app-experience-section></app-experience-section>
                    <app-projects-section></app-projects-section>
                    <app-research-section></app-research-section>
                </div>
                <div class="col-lg-3">
                    <app-skills-section></app-skills-section>
                    <app-education-section></app-education-section>
                    <app-award-section></app-award-section>
                    <app-language-section></app-language-section>
                    <app-interests-section></app-interests-section>
                    <app-personal-info></app-personal-info>
                    <app-additional-skills></app-additional-skills>
                </div>
            </div>

            <!-- <app-about-me></app-about-me> -->
        </div>
    </div>
</article>

<app-footer></app-footer>

