<section class="resume-section experience-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience</h2>
    <div class="resume-section-content">
        <div class="resume-timeline position-relative">
            <article class="resume-timeline-item position-relative pb-5">
                <div class="resume-timeline-item-header mb-2">
                    <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">DevOps Engineer</h3>
                        <div class="resume-company-name ml-auto">Kloud Ltd.</div>
                    </div>
                    <!--//row-->
                    <div class="resume-position-time">2019 - Present</div>
                </div>
                <!--//resume-timeline-item-header-->
                <div class="resume-timeline-item-desc">
                    <!-- <p>
                        Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit.
                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                        nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel.
                    </p>
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements:</h4>  -->
                    <p>
                        I join Kloud Ltd. as a DevOps Engineer. My role is to design & maintains web
                        application.
                    </p>
                    <ul>
                        <li>Developed and designed software for user requirements.</li>
                        <li>Optimized user effectiveness by creating a detailed feedback queue for users to discuss functionality, convenience, and effectiveness.</li>
                        <li>We worked together as a team.</li>
                    </ul>
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Angular</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Node.js</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Python/Django</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">jQuery</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/SASS</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">PostgresSQL | MongoDB</span></li>
                    </ul>
                </div>
                <!--//resume-timeline-item-desc-->
            </article>
            <!--//resume-timeline-item-->

            <article class="resume-timeline-item position-relative pb-5">
                <div class="resume-timeline-item-header mb-2">
                    <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">Junior Software Engineer</h3>
                        <div class="resume-company-name ml-auto">Biziitech</div>
                    </div>
                    <!--//row-->
                    <div class="resume-position-time">2019 - 2019</div>
                </div>
                <!--//resume-timeline-item-header-->
                <div class="resume-timeline-item-desc">
                    <p>
                        I worked as a Junior Software Engineer in Biziitech. My role is to design a web api using
                        Django. And I am very proud to be a part of this organizatio because my team member's
                        are very helpfull & creative.
                    </p>
                    <!-- <h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements:</h4>
                    <p>
                        Achievements goes here....
                    </p> -->
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Angular</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">Django</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">jQuery</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/SASS</span></li>
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">MySQL</span></li>
                    </ul>
                </div>
                <!--//resume-timeline-item-desc-->
            </article>
            <!--//resume-timeline-item-->

        </div>
        <!--//resume-timeline-->
    </div>
</section>
