<section class="resume-section interests-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Additional Skills</h2>
    <div class="resume-section-content">
        <ul class="list-unstyled">
            <li class="mb-1">Growth Mindset</li>
            <li class="mb-1">Critical Analytics</li>
            <li class="mb-1">Team Player</li>
            <li class="mb-1">Leadership</li>
            <li class="mb-1">Emotional</li>
            <li class="mb-1">Intelligence</li>
        </ul>
    </div>
</section>
