<section class="resume-section language-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Personal Info</h2>
    <div class="resume-section-content">
        <ul class="list-unstyled resume-lang-list">
            <li class="mb-2">
                <span class="text-muted font-weight-normal">Name: </span>
                <small class="resume-lang-name font-weight-bold">Dipta Dhar</small>
            </li>
            <li class="mb-2">
                <span class="text-muted font-weight-normal">Birth Date: </span>
                <small class="resume-lang-name font-weight-bold">March 7, 1996</small>
            </li>
            <li class="mb-2">
                <span class="text-muted font-weight-normal">Marital Status: </span>
                <small class="resume-lang-name font-weight-bold">Unmarried</small>
            </li>
            <li class="mb-2">
                <span class="text-muted font-weight-normal">Blood group: </span>
                <small class="resume-lang-name font-weight-bold">B+</small>
            </li>
        </ul>
    </div>
</section>
