<section class="resume-section reference-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Awards</h2>
    <div class="resume-section-content">
        <ul class="list-unstyled resume-awards-list">
            <li class="mb-2 pl-4 position-relative">
                <i class="resume-award-icon fa fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
                <div class="resume-award-name">Champion</div>
                <div class="resume-award-desc">Programming Contest 2016, BSMRSTU.</div>
            </li>
            <li class="mb-0 pl-4 position-relative">
                <i class="resume-award-icon fa fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
                <div class="resume-award-name">Champion</div>
                <div class="resume-award-desc">Chess Master, Intra-University Indoor Game.</div>
            </li>
        </ul>
    </div>
</section>
